html,
body {
  min-height: 100%;
  min-width: 90%;
}
#header-img {
  height: 50px;
  width: 50px;
  border-radius: 50%;
}
#header-img:hover {
  transform: scale(1.5);
  border-radius: 50%;
  box-shadow: 5px 5px 10px 3px cyan;
}
#logo {
  margin: auto;
}

#header {
  width: 100%;
  height: 50px;
}

figure {
  padding: 5px;
}

h1 {
  text-shadow: 5px 5px 6px white;
}
ul {
  display: flex;
  justify-content: space-evenly;
  padding: 5px;
}
#types {
  background-size: 100%;
  background-image: url("images/pink.jpg");
  width: 80vw;
  margin: auto;
}
#video {
  width: 50vw;
  margin: auto;
}
video {
  width: auto;
  height: 300px;
}
#centre {
  background-color: black;
  display: flex;
  justify-content: space-evenly;
}
img {
  width: 200px;
  height: 200px;
}
img:hover {
  transition-delay: 0.3s;
  transform: scale(2.5);
  box-shadow: 5px 5px 10px 10px rgb(108, 243, 243);
}
.variants {
  border: 2px solid rgb(102, 95, 194);
  box-shadow: 5px 5px 8px rgb(87, 72, 218);
  padding: 30px;
}
#photos {
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  justify-content: space-evenly;
  width: 80vw;
  margin: auto;
}
.full {
  background-image: url("images/pink.jpg");
  background-size: 100%;
  width: 80vw;
  margin: auto;
}
.small {
  height: 100px;
  width: 100px;
}
#first {
  background-image: url("images/pink.jpg");
  background-size: 100%;
  width: 80vw;
  margin: auto;
}
.opac {
  opacity: 0.7;
}
form,
h1,
h2,
h3,
p,
h4 {
  text-align: center;
  padding: 5px;
}
#nav-bar {
  background-color: pink;
  opacity: 0.7;
}
h1,
h2,
h3 {
  text-shadow: 5px 5px 10px rgb(182, 197, 197);
}

body {
  color: black;
  font-family: Georgia, "Times New Roman", Times, serif;
  background-image: url("images/hey5.jpg");
  background-size: 100%;
}

h1 {
  font-size: 40px;
}
#submit {
  opacity: 0.8;
  padding: 10px;
  animation-name: neon;
  animation-delay: 0.2s;
  animation-iteration-count: infinite;
  animation-duration: 3s;
}

@keyframes neon {
  0% {
    background-color: grey;
  }
  50% {
    background-color: blue;
  }
  100% {
    background-color: lightcoral;
  }
}
